<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-3</title>
    <link rel="stylesheet" href="../static/styles/blog3.css">
</head>
<body>
    <div class="b1"><div class="b1-cont"></div></div>
    <div class="b2">
        <h1>How Electronic Waste Pollution Affects the Environment</h1>
    </div>
    <div class="b3">
        <p>
            Our modern lives are unimaginable without electronic devices, which have transformed the way we communicate, work, and live. Yet, this digital revolution has also led to an ominous side effect of electronic waste pollution, commonly known as eWaste pollution.
        </p>
    </div>
    <div class="b4">
            <h1>Here are the e-Waste effects on the environment:</h1>
            <p><h2><font color="#56980C">Soil pollution:</font></h2> Electronic devices contain hazardous chemicals such as lead, mercury, and cadmium. When eWaste is disposed of in landfills, these chemicals can seep into the soil and contaminate it. This can have a negative impact on the soil’s fertility and prevent plants from growing.</p>

            
            <p><h2><font color="#56980C">Water pollution</font></h2>  Electronic devices that are disposed of in landfills can also contaminate groundwater. When it rains, water runs through the landfill, picking up hazardous chemicals from the eWaste. This contaminated water can seep into nearby rivers and lakes, affecting aquatic life and potentially harming humans who consume the water.</p>

            <p><h2><font color="#56980C">Air pollution:</font></h2> Burning eWaste is a common method of disposal in some parts of the world. When electronic devices are burned, toxic fumes are released into the air. These fumes can contain harmful chemicals such as dioxins and furans, which can cause serious health problems such as cancer and respiratory illnesses.</p>

            <p><h2><font color="#56980C">Global warming:</font></h2>  Electronic devices are often made using materials that are extracted from the earth, such as metals and plastics. The process of extracting these materials and manufacturing electronic devices requires a lot of energy, which results in the emission of greenhouse gases. When eWaste is disposed of improperly, it contributes to global warming and climate change.</p>
            
    </div>
</body>
</html>