<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-1</title>
    <link rel="stylesheet" href="../static/styles/blog1.css">
</head>
<body>
    <div class="b1"><div class="b1-cont"></div></div>
    <div class="b2">
        <h1>WHAT IS E-WASTE? IMPORTANCE OF E-WASTE</h1>
    </div>
    <div class="b3">
        <p>
            E-waste is a term used to describe electronic devices that are no longer in use, have become obsolete, or are at the end of their useful life. E-waste includes a broad range of electronic devices, including computers, laptops, smartphones, tablets, televisions, printers, and other household appliances. These devices contain valuable and hazardous materials that can cause harm to the environment and human health if not disposed of properly.
        </p>
    </div>
    <div class="b4">
        <div class="b4-left">
            <p><b><font color="#56980C">Computers and laptops</font></b> are among the most commonly used electronic devices, and they can quickly become outdated or break down. These devices contain toxic materials such as lead, mercury, and cadmium, which can cause severe environmental damage if not disposed of correctly.</p>
            <p>
                <b><font color="#56980C">Mobile Devices</font></b> such as smartphones and tablets are ubiquitous in our daily lives. While they are smaller than computers and laptops, they still contain toxic materials such as lead and mercury. Moreover, their frequent replacement and upgrades contribute significantly to the e-waste problem.
            </p>
            <h1>The Importance of Managing E-waste</h1>
            <p>Electronic waste, or e-waste, is becoming an increasingly pressing problem globally. It refers to discarded electronic devices such as computers, mobile phones, and televisions, which contain hazardous materials that can cause environmental and health hazards. With the rapid pace of technological innovation and the increasing demand for electronics, e-waste has become one of the fastest-growing waste streams globally. Explore the <b>importance of managing e-waste</b>, the challenges faced in its management, and the future of e-waste management.</p>
        </div>
        <div class="b4-right">
            <img src="../static/images/blog1-down.PNG" alt="">
        </div>
    </div>
</body>
</html>