<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buy-checkout</title>
    <link rel="stylesheet" href="../static/styles/sell.css">
    <link rel="stylesheet" href="../static/styles/sell-checkout.css">
</head>
<body>
<div class="header">
    <div class="navbar">
        <div class="logo">
            <a href="buy.html" class="imglink"><img src="../static/images/logo.jpg" alt="EcoTech Reclaim" height="65px"
                                                    width="auto"></a>
        </div>
        <div class="items">
            <ul>
                <li><a href="#">About Us</a></li>
                <div class="dropdown">
                    <button class="link dropbtn">Services</button>
                    <div class="dropdown-content">
                        <a href="sell.html">Buy</a>
                        <a href="buy.html">Sell</a>
                        <a href="fl.html">Facility Locator</a>

                    </div>
                </div>
                <li><a href="#">Learning Outcome</a></li>
                <li><a href="#">Contact Us</a></li>
                <div class="btn">
                    <button class="join-btn"><a href="login.html">Join Our Community</a></li></button>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-banner">
    <div class="left">
        <div class="pick-up">SELECT A PICK-UP DATE</div>
        <div class="week-options">
            <div class="week">WEEKDAY</div>
            <div class="week">WEEKEND</div>
        </div>
        <button class="join-btn upload-btn ">Confirm</button>
    </div>

    <div class="right">

        <div>You successfully sold the device, we will pick up the <br> device from ur home during weekday/weekend. <br>
            Thank you for your trust. Keep selling and saving Earth!
        </div>
        <div>Your device will be picked on this date <br> this time. Kindly drop-off carefully.</div>
        <div>We successfully got your device.</div>
    </div>
</div>
</body>
</html>