<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>profile-checkout</title>
    <link rel="stylesheet" href="../static/styles/profile-checkout.css" />
  </head>
  <body>
    <div class="checkout">
      <div class="buy-checkout-left">
        <div class="left-upper">
          <img src="../static/images/profile.png" alt="" height="50px" />
          <div>Hi UserName!</div>
        </div>
        <div class="personal">PERSONAL INFO</div>
        <div class="input">
          <div class="inputs">Contact number</div>
          <div class="inputs">E-mail address</div>
          <div class="inputs">Residential address</div>
          <div class="inputs">Office Address</div>
          <div class="inputs">Account Balance</div>
        </div>
        <div class="contact">Contact us:100</div>
      </div>

      <div class="profile-checkout-right">
        <div class="left-upper">
          <img src="../static/images/profile.png" alt="" height="50px" />
          <div class="hi">Hi UserName!</div>
        </div>

        <div class="right-below">
          <div>Arriving xyz</div>
          <div class="check-items">
            <div class="tick checked"></div>
            <div class="item">Ordered on xyz</div>
          </div>
          <div class="check-items">
            <div class="tick checked"></div>
            <div class="item">Arriving on xyz</div>
          </div>
          <div class="check-items">
            <div class="tick"></div>
            <div class="item">Out for pickup</div>
          </div>
          <div class="check-items">
            <div class="tick"></div>
            <div class="item">Product Received</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
