<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sell-checkout-2</title>
    <link rel="stylesheet" href="../static/styles/sell-checkout-2.css" />
  </head>
  <body>
    <div class="buying-items">
      <div class="buy-item">
        <div class="buy-item-upper">
          <div class="buy-item-upper-upper">
            <div class="buy-item-image">
              <img src="../static/images/buy-item1.png" alt="" height="180px" />
            </div>
            <div class="heart"></div>
          </div>
          <div class="description">
            Perfect replacement for the original housing and make the phone look
            like a new one
          </div>
        </div>
        <div class="buy-item-description">
          <div class="name-plus">
            <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
            <div class="plus">+</div>
          </div>
          <div class="quantity"><b>Quantity</b> -1</div>
          <div class="warranty"><b>Warranty -</b> 6 months</div>
          <div class="button-price">
            <div class="buy-item-price"><b>Price</b> ₹100/-</div>
            <button class="add-to-cart">ADD TO CART</button>
          </div>
        </div>
      </div>

      <div class="buy-item">
        <div class="buy-item-upper">
          <div class="buy-item-upper-upper">
            <div class="buy-item-image">
              <img src="../static/images/buy-item1.png" alt="" height="180px" />
            </div>
            <div class="heart"></div>
          </div>
          <div class="description">
            Perfect replacement for the original housing and make the phone look
            like a new one
          </div>
        </div>
        <div class="buy-item-description">
          <div class="name-plus">
            <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
            <div class="plus">+</div>
          </div>
          <div class="quantity"><b>Quantity</b> -1</div>
          <div class="warranty"><b>Warranty -</b> 6 months</div>
          <div class="button-price">
            <div class="buy-item-price"><b>Price</b> ₹100/-</div>
            <button class="add-to-cart">ADD TO CART</button>
          </div>
        </div>
      </div>

      <div class="buy-item">
        <div class="buy-item-upper">
          <div class="buy-item-upper-upper">
            <div class="buy-item-image">
              <img src="../static/images/buy-item1.png" alt="" height="180px" />
            </div>
            <div class="heart"></div>
          </div>
          <div class="description">
            Perfect replacement for the original housing and make the phone look
            like a new one
          </div>
        </div>
        <div class="buy-item-description">
          <div class="name-plus">
            <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
            <div class="plus">+</div>
          </div>
          <div class="quantity"><b>Quantity</b> -1</div>
          <div class="warranty"><b>Warranty -</b> 6 months</div>
          <div class="button-price">
            <div class="buy-item-price"><b>Price</b> ₹100/-</div>
            <button class="add-to-cart">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="buy-item">
        <div class="buy-item-upper">
          <div class="buy-item-upper-upper">
            <div class="buy-item-image">
              <img src="../static/images/buy-item1.png" alt="" height="180px" />
            </div>
            <div class="heart"></div>
          </div>
          <div class="description">
            Perfect replacement for the original housing and make the phone look
            like a new one
          </div>
        </div>
        <div class="buy-item-description">
          <div class="name-plus">
            <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
            <div class="plus">+</div>
          </div>
          <div class="quantity"><b>Quantity</b> -1</div>
          <div class="warranty"><b>Warranty -</b> 6 months</div>
          <div class="button-price">
            <div class="buy-item-price"><b>Price</b> ₹100/-</div>
            <button class="add-to-cart">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="buy-item">
        <div class="buy-item-upper">
          <div class="buy-item-upper-upper">
            <div class="buy-item-image">
              <img src="../static/images/buy-item1.png" alt="" height="180px" />
            </div>
            <div class="heart"></div>
          </div>
          <div class="description">
            Perfect replacement for the original housing and make the phone look
            like a new one
          </div>
        </div>
        <div class="buy-item-description">
          <div class="name-plus">
            <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
            <div class="plus">+</div>
          </div>
          <div class="quantity"><b>Quantity</b> -1</div>
          <div class="warranty"><b>Warranty -</b> 6 months</div>
          <div class="button-price">
            <div class="buy-item-price"><b>Price</b> ₹100/-</div>
            <button class="add-to-cart">ADD TO CART</button>
          </div>
        </div>
        </div>
        <div class="buy-item">
          <div class="buy-item-upper">
            <div class="buy-item-upper-upper">
              <div class="buy-item-image">
                <img src="../static/images/buy-item1.png" alt="" height="180px" />
              </div>
              <div class="heart"></div>
            </div>
            <div class="description">
              Perfect replacement for the original housing and make the phone look
              like a new one
            </div>
          </div>
          <div class="buy-item-description">
            <div class="name-plus">
              <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
              <div class="plus">+</div>
            </div>
            <div class="quantity"><b>Quantity</b> -1</div>
            <div class="warranty"><b>Warranty -</b> 6 months</div>
            <div class="button-price">
              <div class="buy-item-price"><b>Price</b> ₹100/-</div>
              <button class="add-to-cart">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="buy-item">
          <div class="buy-item-upper">
            <div class="buy-item-upper-upper">
              <div class="buy-item-image">
                <img src="../static/images/buy-item1.png" alt="" height="180px" />
              </div>
              <div class="heart"></div>
            </div>
            <div class="description">
              Perfect replacement for the original housing and make the phone look
              like a new one
            </div>
          </div>
          <div class="buy-item-description">
            <div class="name-plus">
              <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
              <div class="plus">+</div>
            </div>
            <div class="quantity"><b>Quantity</b> -1</div>
            <div class="warranty"><b>Warranty -</b> 6 months</div>
            <div class="button-price">
              <div class="buy-item-price"><b>Price</b> ₹100/-</div>
              <button class="add-to-cart">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="buy-item">
          <div class="buy-item-upper">
            <div class="buy-item-upper-upper">
              <div class="buy-item-image">
                <img src="../static/images/buy-item1.png" alt="" height="180px" />
              </div>
              <div class="heart"></div>
            </div>
            <div class="description">
              Perfect replacement for the original housing and make the phone look
              like a new one
            </div>
          </div>
          <div class="buy-item-description">
            <div class="name-plus">
              <div class="buy-item-name"><b>Product name -</b> HOUSING</div>
              <div class="plus">+</div>
            </div>
            <div class="quantity"><b>Quantity</b> -1</div>
            <div class="warranty"><b>Warranty -</b> 6 months</div>
            <div class="button-price">
              <div class="buy-item-price"><b>Price</b> ₹100/-</div>
              <button class="add-to-cart">ADD TO CART</button>
            </div>
          </div>
      </div>
  </body>
</html>
