<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sell-checkout</title>
    <link rel="stylesheet" href="../static/styles/buy-checkout.css">
</head>
<body>

<div class="checkout">
    <div class="buy-checkout-left">

        <div class="left-upper">
            <img src="../static/images/profile.png" alt="" height="50px">
            <div class="hi">Hi UserName!</div>
        </div>
        <div class="personal">PERSONAL INFO</div>
        <div class="input">
            <div class="inputs">Contact number</div>
            <div class="inputs">E-mail address</div>
            <div class="inputs">Residential address</div>
            <div class="inputs">Office Address</div>
            <div class="inputs">Account Balance</div>
        </div>
        <div class="contact">Contact us:100</div>
    </div>


    <div class="buy-checkout-right">
        <div class="my-orders">
            <img src="../static/images/cart.png" alt="" height="50px">
            <div>My orders</div>
        </div>

        <div class="deliver">
            <div>Deliver to: name,pin code <br> full address</div>
            <div class="red">CHANGE</div>
        </div>

        <div class="offers"> Available offers</div>

        <div class="in-cart">IN CART</div>

        <div class="cart">
            <div class="img-box"></div>
            <div class="cart-values">
                Product name<br>details<br>price<br>quantity
            </div>
            <div class="delete"></div>
        </div>

        <div class="order-button">Place order</div>


    </div>
</div>

</body>
</html>