<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>sell</title>
    <link rel="stylesheet" href="../static/styles/buy.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="{{ url_for('index_page') }}" class="imglink"
          ><img
            src="../static/images/logo.jpg"
            alt="EcoTech Reclaim"
            height="65px"
            width="auto"
        /></a>
      </div>
      <div>Track Order</div>
      <div class="categories">
        <div>-All Categories-</div>
        <div>
          <input type="search" placeholder="Search Product.." class="search" />
        </div>
      </div>
      <div class="profile-icon">
        <img
          src="../static/images/profile-icon.png"
          alt=""
          height="65px"
          width="auto"
        />
      </div>
    </div>
    <div class="navbar">
      <div>Mobile Parts</div>
      <div>Laptop Parts</div>
      <div>Refrigerator Parts</div>
      <div>Washing Machine Parts</div>
      <div>Computer Parts</div>
      <div>Parts</div>
    </div>
    <img src="../static/images/blue-banner.jpeg" alt="" width="1470px" />
    <img src="../static/images/sale.jpeg" alt="" width="1470px" />

    <div class="buying-items">
      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>

      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>
      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>

      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>
      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>

      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>
      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>

      <div class="buy-item">
        <div class="buy-item-image">
          <img src="../static/images/buy-item1.png" alt="" height="200px" />
        </div>
        <div class="buy-item-name">HOUSING</div>
        <div class="buy-item-price">Starts from ₹100/-</div>
        <div class="explore-more">Explore more</div>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer">
      <div class="fu">
        <div class="footer-left">
          <div class="fl-img">
            <img src="../static/images/logogrey.jpeg" alt="" width="150px" />
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
            sit labore eaque? Vitae cumque laudantium doloribus itaque
            assumenda, possimus excepturi accusamus. Expedita illo quaerat
            dolorem neque laborum aut quod adipisci?
          </p>
        </div>
        <div class="footer-mid">
          <div class="services si">
            <div class="footer-mid-heading">
              <h3>Services</h3>
            </div>
            <div class="footer-mid-items">
              <p><a href="{{ url_for('sell_page') }}"></a>Sell</p>
              <p><a href="{{ url_for('buy_page') }}"></a>Buy</p>
              <p><a href="#"></a>Locator</p>
            </div>
          </div>
          <div class="info si">
            <div class="footer-mid-heading">
              <h3>Information</h3>
            </div>
            <div class="footer-mid-items">
              <p><a href="{{ url_for('aboutus_page') }}"></a>What we are</p>
              <p><a href="{{ url_for('learningoc_page') }}"></a>What we do</p>
              <p><a href="features.html"></a>Features</p>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <div class="office">
            <h2>OFFICE-ADDRESS:-</h2>
            <div class="address"><a href="office.html"></a></div>
          </div>
          <div class="conct-us">
            <h2>CONTACT US</h2>
          </div>
        </div>
      </div>
      <div class="fd">
        Copyright © 2023 EcoTech ReClaim eWaste Management LTD. ALL RIGHTS ARE
        RESERVED
      </div>
    </div>
  </footer>
</html>
